@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <!-- Logo eller brand -->

        <!-- Hamburger toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Bilde" asp-action="Grid">Bilder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Notat" asp-action="Notes">Notater</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Bilde" asp-action="MyPage">MyPage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Notat" asp-action="MyPage">MyPageNotes</a>
                </li>

                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")" class="form-inline">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logg inn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrer deg</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
