@model InstagramMVC.Models.Note

<h2>Opprett et nytt notat</h2>

<form>
    <textarea></textarea>
    <br />
    <button type="submit">Post Notat</button>
</form>

<div>
    <a asp-action="Index">Tilbake til notat-feed</a>
</div>
