@model IEnumerable<InstagramMVC.Models.Note>

<h2>Notat Feed</h2>

<div>
    <a>Opprett nytt notat</a>
</div>

<hr />

<ul>
    @foreach (var notat in Model)
    {
        <li>
            <strong></strong>
            <em></em>
            <div>
                <a asp-action="Update" >Rediger</a> |
                <a asp-action="Delete" >Slett</a>
            </div>
        </li>
    }
</ul>
