@{
    ViewData["Title"] = "Front Page";
}


        
        <div id="loginForm" class="form-container active">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</div>
