<div class="login-register-box">
    <div class="card-body">
       
        <div id="loginForm" class="form-container active">
            <h3 class="text-center mb-3">Instagram</h3>
            <form>
                <div class="mb-3">
                    <label for="loginEmail" class="form-label">Brukernavn</label>
                    <input type="email" class="form-control" id="loginEmail" placeholder="Brukernavn">
                </div>
                <div class="mb-3">
                    <label for="loginPassword" class="form-label">Passord</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="Passord">
                </div>
                <button type="submit" class="btn btn-primary-front w-100">Logg inn</button>
            </form>
        </div>
    </div>
</div>
