@model InstagramMVC.ViewModels.NotaterViewModel

@{
    var userName = User.Identity.Name?.Split('@')[0]; // Henter gjeldende URL som returnUrl
}

<div class="container">
    @if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(userName))
    {
        <h2>@userName</h2>
    }

    <h2>Mine Notater</h2>
    
    <!-- Liste over mine notater -->
    <div class="row mt-5">
        @foreach (var note in Model.Notes)
        {
            <div class="col-md-4">
                @await Html.PartialAsync("_NoteList", note)
            </div>
        }
    </div>
    
    <div class="mt-4 text-center">
        <a asp-action="Create" asp-controller="Notat" class="btn btn-primary">Opprett nytt notat</a>
    </div>
</div>
