@model InstagramMVC.Models.Note

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@Model.Tittel</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <p>@Model.Innhold</p>
        </div>
    </div>

   

    <div class="row mt-3">
        <div class="col-md-12">
            <a asp-action="Update" asp-route-id="@Model.NoteId" class="btn btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.NoteId" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
