@model InstagramMVC.ViewModels.NotaterViewModel

<h1>Notater</h1>
<div class="container-notat">
    <div class="row-notat">
        @foreach (var note in Model.Notes)
        {
            <div class="col-md-4">
                @await Html.PartialAsync("_NoteList", note)
            </div>
        }
    </div>
 </div>