@model InstagramMVC.ViewModels.NotaterViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Alle Notater</title>
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body class="notes-page">
    <div class="notes-container">
        <h1>Notater</h1>
        <div class="notes-column">
            @foreach (var note in Model.Notes)
            {
                <div class="note-card">
                    @{
                        ViewData["returnUrl"] = Url.Action("Notater");
                    }
                    @await Html.PartialAsync("_NoteList", note, ViewData)
                </div>
            }
        </div>
    </div>
</body>
</html>
