@model InstagramMVC.Models.Note

<h2>Rediger notat</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="NoteId" />

    <div>
        <label>Title</label>
        <input type="text" asp-for="Tittel" class="form-control" />
    </div>

    <div>
        <label>Content</label>
        <textarea asp-for="Innhold" class="form-control"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
