@model IEnumerable<InstagramMVC.Models.Bruker>

<div class="container">
    <h1>@ViewBag.CurrentViewName</h1>
    <table class='table table-striped'>
        <tr><th>Id</th><th>Name</th><th>Price</th><th>Description</th></tr>
        @foreach (var bruker in Model)
        {
            <tr>
                <td>@bruker.Id</td>
                <td>@item.Brukernavn</td>
                <td>@item.Epost</td>
                <td></td>
            </tr>
        }
    </table>
</div>
