<<<<<<< HEAD
@model InstagramMVC.Models.Kommentar

<div class="container mt-4">
    <h4>Legg til kommentar</h4>
    <form asp-action="CreateComment" method="post" class="d-flex align-items-center">
        <input type="hidden" asp-for="BildeId" />
        
        <div class="form-group flex-grow-1 mr-2">
            <textarea asp-for="KommentarBeskrivelse" class="form-control" rows="1" placeholder="Skriv din kommentar her..."></textarea>
            <span asp-validation-for="KommentarBeskrivelse" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary ml-2">Kommenter</button>
    </form>
</div>
=======
>>>>>>> ced838e98ce07077e51563371bec07747499992d
