@model InstagramMVC.Models.Kommentar

<h2>Rediger Kommentar</h2>

<form asp-action="UpdateCommentNote" method="post">
    <input type="hidden" asp-for="KommentarId" /> <!-- Skjult felt for KommentarId -->

    <div class="form-group">
        <label for="KommentarBeskrivelse">Kommentar</label>
        <textarea asp-for="KommentarBeskrivelse" class="form-control" rows="4"></textarea>
        <span asp-validation-for="KommentarBeskrivelse" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Lagre endringer</button>
</form>
