body {
  background-color: #5d4037; /* Mørk brun/svart bakgrunn for en varm atmosfære */
  margin: 0;
  font-family: "Arial", sans-serif;
  color: #5d4037; /* Lys tekst for god lesbarhet mot den mørke bakgrunnen */
}

.login-register-box {
  background: #fdf5e6; /* Lys beige bakgrunn for å skape kontrast */
  padding: 30px; /* Mer padding for et luftigere utseende */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Dypere skygge for bedre dybdeeffekt */
  width: 100%;
  max-width: 500px; /* Økt maksimal bredde til 500px for mer rom */
  margin: 0 auto; /* Sørger for at boksen er sentrert */
}

.btn-toggle {
  flex: 1;
  background-color: #f0f0f0;
  border: none;
  padding: 10px 0;
  font-weight: bold;
  color: #4b3832;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-toggle:hover {
  background-color: #3b2f2f;
}

.btn-toggle.active {
  background-color: gray;
  color: #fff;
}

.form-container {
  display: none;
}

.form-container.active {
  display: block;
}

.btn-primary {
  color: #fff;
  background-color: #4b3832; /* Mørk rødbrun for primærknappen */
  border-color: #3a302c; /* Mørkere kant for knappen */
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus-visible {
  color: #4b3832;
  background-color: #d2b48c;
  border-color: #d2b48c;
  outline: none;
  box-shadow: none;
}

.btn-primary:active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}
