<div class="login-register-box">
    <h3 class="text-center mb-3">Registrer deg</h3>
    <form>
        <div class="mb-3">
            <label for="registerUsername" class="form-label">Brukernavn</label>
            <input type="text" class="form-control" id="registerUsername" placeholder="Choose a username">
        </div>
        <div class="mb-3">
            <label for="registerEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="registerEmail" placeholder="Enter your email">
        </div>
        <div class="mb-3">
            <label for="registerPassword" class="form-label">Passord</label>
            <input type="password" class="form-control" id="registerPassword" placeholder="Create a password">
        </div>
        <button type="submit" class="btn btn-primary-home w-100">Register</button>
    </form>
</div>
