@model InstagramMVC.Models.Bilde

<h2>Upload New Image</h2>

<form method="post" enctype="multipart/form-data" asp-action="Create">
    <div>
        <label for="Tittel">Title</label>
        <input type="text" asp-for="Tittel" id="Tittel" class="form-control" />
    </div>

    <div>
        <label for="Beskrivelse">Description</label>
        <textarea asp-for="Beskrivelse" id="Beskrivelse" class="form-control"></textarea>
    </div>

    <div>
        <label for="BildeUrl">Select Image</label>
        <input type="file" asp-for="BildeUrl" id="BildeUrl" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
</form>
