@model InstagramMVC.Models.Bilde

<h2>Edit Image</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="BildeId" />
    
    <div>
        <label>Title</label>
        <input type="text" asp-for="Tittel" class="form-control" />
    </div>

    <div>
        <label>Description</label>
        <textarea asp-for="Beskrivelse" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
