@model InstagramMVC.ViewModels.BilderViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Alle Bilder</title>
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <div class="container">
        <h1>Alle Bilder</h1>
        <div class="row flex-column align-items-center">
            @foreach (var bilde in Model.Bilder)
            {
                <div class="col-12 mb-4">
                    @await Html.PartialAsync("_BildeCard", bilde)
                </div>
            }
        </div>
    </div>
</body>
</html>
