@model InstagramMVC.ViewModels.BilderViewModel
<link rel="stylesheet" href="~/css/layout.css" />

<h1>Alle Bilder</h1>
<div class="container">
    <div class="row">
        @foreach (var bilde in Model.Bilder)
        {
            <div class="col-12 mb-4">
                @await Html.PartialAsync("_BildeCard", bilde)
            </div>
        }
    </div>
</div>
