@model InstagramMVC.ViewModels.BilderViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Alle Bilder</title>
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <div class="container">
        <h1>Bilder</h1>
        <div class="row flex-column align-items-center">
            @foreach (var bilde in Model.Bilder)
            {
                <div class="col-12 mb-4">
                    <!-- Bruk partialen for å vise hele bildet og detaljene -->
                    @await Html.PartialAsync("_BildeCard", bilde, new ViewDataDictionary(ViewData) { { "returnUrl", Url.Action("Grid") } })
                </div>
            }
        </div>
    </div>
</body>
</html>
