@model InstagramMVC.ViewModels.BilderViewModel

@{
    var returnUrl = Url.Action("MyPage");
    var userName = User.Identity.Name?.Split('@')[0];
}

<div class="container">
    @if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(userName))
    {
        <h2>@userName</h2>
    }
    else
    {
        <h2>Velkommen!</h2>
    }
    
    <h2>Mine Bilder</h2>
    
    <!-- Liste over mine bilder -->
    <div class="row mt-5">
        @foreach (var bilde in Model.Bilder)
        {
            <div class="col-md-4">
                <!-- Bruk partialen for å vise hele bildet og detaljene -->
                @await Html.PartialAsync("_BildeCard", bilde, new ViewDataDictionary(ViewData) { { "returnUrl", returnUrl } })
            </div>
        }
    </div>
    <!-- Knapp for å navigere til Create-siden -->
    <div class="mt-4 text-center">
        <a asp-action="Create" asp-controller="Bilde" class="btn btn-primary">Last opp nytt bilde</a>
    </div>
</div>
