@model InstagramMVC.ViewModels.BilderViewModel

@{
    var returnUrl = ViewContext.HttpContext.Request.Path; // Henter gjeldende URL som returnUrl
}

<div class="container">
    <h2>Mine Bilder</h2>
    
    <!-- Liste over mine bilder -->
    <div class="row mt-5">
        @foreach (var bilde in Model.Bilder)
        {
            <div class="col-md-4">
                @await Html.PartialAsync("_BildeCard", bilde, new ViewDataDictionary(ViewData) { { "returnUrl", returnUrl } })
            </div>
        }
    </div>
    <!-- Knapp for å navigere til Create-siden -->
    <div class="mt-4 text-center">
        <a asp-action="Create" asp-controller="Bilde" class="btn btn-primary">Last opp nytt bilde</a>
    </div>
</div>
